    .frame {
      display: inline-flex;
      width: 100px;
      height: 100px;
      transition: 0.7s ease-in-out;
      margin: 15px 0px 0px 15px;
    }
    .frame a {
      text-decoration: none;
      color: black;
    }
    .frame img {
      height: 100px;
      width: 100px;
      border-radius: 8px;
      object-fit: cover;
      transition: 0.7s ease-in-out;
    }
    .frame:hover {
      width: 125px;
    }
    .frame:hover img {
      width: 125px;    
    }
    .frame:hover .text {
      opacity: 100%;
    }
    .frame .text {
      opacity: 0%;
      font-weight: bold;
      text-align: center;
      transition: 0.5s ease-in-out;
      color: white;
    }
    .subtitle {
      color: rgb(167, 167, 167);
    }
    .ctitle {
      color: white;
    }
