    .frame {
      display: inline-block;
      width: 100px;
      height: 100px;
      transition: 0.7s ease-in-out;
      margin: 15px 0px 0px 15px;
    }
    .frame a {
      text-decoration: none;
      color: black;
    }
    .frame img {
      height: 100%;
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
    .frame:hover {
      width: 130px;
      height: 120px; 
    }
    .frame:hover .text {
      opacity: 100%;
    }
    .frame .text {
      opacity: 0%;
      font-weight: bold;
      text-align: center;
      transition: 0.5s ease-in-out;
      color: white;
    }
